<div class="container">
  <p id="notice"></p>
  <div class="row">
    <div class="col-xs-3">
      <%= render 'users/profile', {user: @user, book: @book} %>
    </div>
    <%= render 'books/books_table', books: @books %>
  </div>
</div>